:root {

    --primary-color: #ff4d6d;
    --secondary-color: #e63956;
    --section-light: #e7e4e4;
    --section-gray: #d3d7dc;
    --section-pinnk: #cccacb;

    --dark-color: #222;
    --text-color: #333;
    --light-text: #666;

    --background-color: #f9f9f9;
    --white: #ffffff;

    --shadowcard: 0 5px 15px rgb(34, 17, 60);

    --container-width: 1100px;

    --shadow: 0 5px 15px rgb(37, 37, 168);

    --transition: 0.3s;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--text-color);
}

.header {
    background: var(--white);
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.carousal-banner {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 10px;
}

.carousal-banner img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 50px;
}

.hero-text {
    background-color: lightgrey;
    height: 400px;
    display: flex;
    align-items: center;
    color: var(--dark-color);

}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-shadow: var(--shadow);
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 27px;
    max-width: 500px;
    margin-left: 10px;
    line-height: 50px;
}

.btno {
    display: inline-block;
    padding: 12px 25px;
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: var(--transition);
}

.btno:hover {
    background: var(--secondary-color);
}

.section-title {
    text-align: center;
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 40px;
    text-shadow: var(--shadow);
    color: var(--text-color);
}

.occasions {
    padding: 70px 0;
    background: var(--section-light);
    /* background-color: #333; */
}

.flowers {
    padding: 70px 0;
    background: var(--section-gray);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadowcard);
    width: 100%;
    transition: var(--transition);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.4s;
}

.card:hover img {
    transform:scale(1.1);

}

.card h3 {
    font-size: 22px;
    margin: 15px;
}

.card p {
    font-size: 14px;
    margin: 0 15px 15px;
    color: var(--light-text);
}

.card a {
    display: block;
    margin: 15px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.about {
    margin-top: 25px;
    padding: 80px 0;
    background: var(--section-pinnk);
    text-align: center;
}

.about h2 {
    font-size: 37px;
    margin-bottom: 20px;
    text-shadow: var(--shadow);
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    color: var(--light-text);
    font-weight: bold;
}

.footer {
    background: var(--dark-color);
    color: var(--white);
    margin-top: 80px;
    padding-top: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    color: #ccc;
    line-height: 1.7;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: var(--transition);
}

.footer ul li a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}

/* weadding css start */
/* =======================
PAGE BANNER
======================= */

.page-banner{
background:#fff0f3;
padding:70px 0;
text-align:center;
}

.page-banner h2{
font-size:36px;
margin-bottom:10px;
}

.page-banner p{
max-width:600px;
margin:auto;
color:#666;
}


/* =======================
PRODUCT SECTION
======================= */

.products{
padding:80px 0;
background:#f8f9fa;
}


/* =======================
GRID CARDS
======================= */

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}